/* ExtractedKorean.css */
.extractedKorean {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap; /* Allows items to wrap to the next line */
}

.extractedKorean__section {
    display: flex;
    flex-direction: column;
    margin: 3px;
}

.extractedKorean__deleteButtonSection {
    flex-basis: 50%; /* Takes full width */
    display: flex;
    justify-content: right; /* Center the button */
    margin-top: 5px; /* Space above the button */
}

.delete-button {
    padding: 10px 50px; /* Larger button */
    font-size: 1em; /* Bigger text */
    cursor: pointer; /* Cursor changes to pointer on hover */
    background-color: #ffb500;
    border: none;
    color: #ff0000;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition: background-color 0.3s, transform 0.1s;
}

.delete-button:active {
    background-color: #367c39;
    transform: scale(0.98);
}

.extractedKorean__paragraph {
    font-size: 0.8em;
    font-weight: bold;
}
